<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="libgdxBuilder"
         name="Libgdx Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="libgdxpluginv2.builder.LibgdxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="libgdxNature"
         name="Libgdx Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="libgdxpluginv2.builder.LibgdxNature">
         </run>
      </runtime>
      <builder
            id="LibgdxPlugin-v2.libgdxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Libgdx Project Nature commands"
            id="LibgdxPlugin-v2.libgdxNature.category">
      </category>
      <command
            name="Add/RemoveLibgdx Project Nature"
            defaultHandler="libgdxpluginv2.builder.AddRemoveLibgdxNatureHandler"
            categoryId="LibgdxPlugin-v2.libgdxNature.category"
            id="LibgdxPlugin-v2.addRemoveLibgdxNature">
      </command>
      <category
            name="Sample Category"
            id="LibgdxPlugin-v2.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="LibgdxPlugin-v2.commands.category"
            id="LibgdxPlugin-v2.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="LibgdxPlugin-v2.addRemoveLibgdxNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="LibgdxPlugin-v2.libgdxNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="LibgdxPlugin-v2.addRemoveLibgdxNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="LibgdxPlugin-v2.libgdxNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="LibgdxPlugin-v2.menus.sampleMenu">
            <command
                  commandId="LibgdxPlugin-v2.commands.sampleCommand"
                  mnemonic="S"
                  id="LibgdxPlugin-v2.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="LibgdxPlugin-v2.toolbars.sampleToolbar">
            <command
                  commandId="LibgdxPlugin-v2.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="LibgdxPlugin-v2.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My Common Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="libgdxplugin.thubm.navigator">
      </view>
      <category
            name="Libgdx Category"
            id="LibgdxPlugin-v2">
      </category>
      <view
            name="Libgdx View"
            icon="icons/sample.gif"
            category="LibgdxPlugin-v2"
            class="libgdxpluginv2.views.LibgdxView"
            id="libgdxpluginv2.views.LibgdxView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="libgdxplugin.thubm.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="libgdxplugin.thubm.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="libgdxplugin.thubm.navigator">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="libgdxpluginv2.views.LibgdxView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="LibgdxPlugin-v2.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="LibgdxPlugin-v2.commands.sampleCommand"
            class="libgdxpluginv2.handlers.LibgdxHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="LibgdxPlugin-v2.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="LibgdxPlugin-v2.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="libgdxpluginv2.actions.LibgdxAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="libgdxpluginv2.actions.LibgdxAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Design Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="libgdxpluginv2.editors.DesignEditorContributor"
            class="libgdxpluginv2.editors.DesignEditor"
            id="libgdxpluginv2.editors.DesignEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Libgdx Wizards"
            id="LibgdxPlugin-v2">
      </category>
      <wizard
            name="Libgdx project"
            icon="icons/sample.gif"
            category="LibgdxPlugin-v2"
            class="libgdxpluginv2.wizards.LibgdxNewWizard"
            id="libgdxpluginv2.wizards.LibgdxNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="libgdxpluginv2.perspectives.RelEngPerspective"
            id="libgdxpluginv2.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="LibgdxPlugin-v2.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="LibgdxPlugin-v2.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="libgdxpluginv2.popup.actions.NewAction"
               menubarPath="LibgdxPlugin-v2.menu1/group1"
               enablesFor="1"
               id="LibgdxPlugin-v2.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Libgdx Preferences"
            class="libgdxpluginv2.preferences.LibgdxPreferencePage"
            id="libgdxpluginv2.preferences.LibgdxPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="libgdxpluginv2.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Libgdx Page"
            nameFilter="*.*"
            class="libgdxpluginv2.properties.LibgdxPropertyPage"
            id="libgdxpluginv2.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="libgdxpluginv2.splashHandlers.InteractiveSplashHandler"
            id="libgdxpluginv2.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="libgdxpluginv2.splashHandlers.interactive"
            productId="org.eclipse.epp.package.jee.product">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
